@model HexaReportApp.Models.MonthReport

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MonthReport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shift)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Woff1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Woff1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Woff2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Woff2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalWork)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalWork)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPresent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPresent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAbsent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAbsent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Outtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Outtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OverTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OverTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BreakTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BreakTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Day)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Day)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalOverTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalOverTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateString)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateString)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Out1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Out1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.In2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.In2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Out2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Out2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.In3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.In3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Out3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Out3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.In4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.In4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Out4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Out4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.In5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.In5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Out5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Out5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.In6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.In6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Out6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Out6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.In7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.In7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Out7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Out7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.In8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.In8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErlIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErlIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErlOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErlOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LateIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LateIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ei)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ei)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Otm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Otm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lesswrk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lesswrk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
